$body_bg: #4A90E2;
$grey: #999999;
$light_grey: #eaedf1;
$e4e4: #ebeef5;
$form: #333333;
$white: #ffffff;
$dark_grey: #464C5B;
$min_width: 1000px;
$e2ea3: #55b6ff;
$ea: #9ea7b4;
$f9: #f9faff;
$red: #f56c6c;
$border_color: #D8DCE6;
$error_color: #FF6060;
$label_color: #83858e;
$table_color: #303343;
$table_bg: #f3f3f3;
$new_btn_color: #6CA62D;
$form_bg: #f4f4f4;
$div_card_top_error: #787878;
$div_card_top_edit: #787878;
$div_card_top_color: #333;
